node_modules/
data.ms/
dumps/
dist/
bundle/
pnpm-lock.yaml
*.tsbuildinfo

# binary files
meilisearch-linux-aarch64
meilisearch-macos-amd64
meilisearch-windows-amd64.exe
meilisearch-macos-apple-silicon
meilisearch-linux-amd64
.DS_Store