node_modules/
data.ms/
dumps/
dist/
pnpm-lock.yaml

# binary files
meilisearch-linux-aarch64
meilisearch-macos-amd64
meilisearch-windows-amd64.exe
meilisearch-macos-apple-silicon
meilisearch-linux-amd64
